/*Natalie font connection start*/

@font-face {
  font-family: "Noah-Regular";
  src: local("Noah Regular"), local("Noah-Regular"),
    url("../fonts/Noah-Regular.woff2") format("woff2"),
    url("../fonts/Noah-Regular.woff") format("woff"),
    url("../fonts/Noah-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah-Bold";
  src: local("Noah Bold"), local("Noah-Bold"),
    url("../fonts/Noah-Bold.woff2") format("woff2"),
    url("../fonts/Noah-Bold.woff") format("woff"),
    url("../fonts/Noah-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geometria-Medium";
  src: url("../fonts/geometria-medium.eot");
  src: url("../fonts/geometria-medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/geometria-medium.woff2") format("woff2"),
    url("../fonts/geometria-medium.woff") format("woff"),
    url("../fonts/geometria-medium.ttf") format("truetype"),
    url("../fonts/geometria-medium.svg#geometria-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria Regular"), local("Geometria-Regular"),
    url("../fonts/Geometria-Regular.woff2") format("woff2"),
    url("../fonts/Geometria-Regular.woff") format("woff"),
    url("../fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MarckScript-Regular";
  src: local("Marck Script Regular"), local("Marck-Script-Regular"),
    url("../fonts/MarckScript-Regular.woff2") format("woff2"),
    url("../fonts/MarckScript-Regular.woff") format("woff"),
    url("../fonts/MarckScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*Natalie font connection end*/

/*Natalie default styles start*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  min-width: 250px;
  font-family: "Noah-Regular";
  font-size: 24px;
}
/*Natalie default styles end*/

/*Gulya start*/
.reviews {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-block-end: 220px;
  
}

@media screen and (max-width: 1000px) {
  .reviews {
    flex-flow: column wrap;
    width: max-content;
  }
  .reviews_main {
 
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   
   
}
.reviews_main {
  width: 100vw;
 display: flex;


}
.tagline {

  font-size: 24px;
  

}
}

@media screen and (max-width: 999px) {
.reviews__container_block-2 {
 
  display: flex;
 
  font-family: "Noah-Regular";
  flex-wrap: wrap;
  align-items: center;
  margin-right: 0px;
  margin-left: 50px;
  width: 100%;
  
}

.reviews__container_block-1 {
 
 
  display: flex;
  position: relative;
  max-height: 550px;
  width: 100%;
margin:0%;
}
.reviews__logo {
  font-size: 1em;
  margin-block-end: 20px;
}
.reviews__header {
  
  display: flex;
  justify-content: center;
  
}
}
.reviews__header {
  height: 30%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-block-end: 5%;
  
}
.reviews_main {
  height: 378px;
 display: flex;
 justify-content: space-between;

}
.reviews__container_block-1 {
 
 
  display: flex;
  position: relative;
  height: 550px;
  width: 100%;
  margin-left: 100px;
padding-block-end: 50px;
margin-block-end: 10%;
}

  
.reviews__container_block-2_arrows2 {
margin-top: 0px;
padding-top: 0px;
width: 50%;
height: 60px;
position: relative;
display: flex;
align-items: flex-start;
flex-direction: column-reverse;
}

.reviews__container_block-2_arrows {
  display: flex;
  width: 50%;
  height: 70px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.tagline {
  margin-block-end: -3em;
  margin-top: 1em;

}


.reviews__container_block-2 {
  min-height: 550px;
  width: 100%;
  display: flex;
  font-size: 24px;
 
  font-family: "Noah-Regular";
  flex-wrap: wrap;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  
}

.reviews__logo {
 
  width: 54px;
  height: 54px;
  color:#545A2F;

}
#reviewspic {
  
    max-width: 100%;
    height: auto;
  }




/*Gulya finish*/
/*Gulya starts the "services" block */
.services__body {
  margin: 0;
  font-family: 'Noah', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  min-height: 100vh;
  color: #1A1A18;
  background-color: #FFFFFF;

}



.services__header2 {
  margin: 0;
  font-size: 38px;
    line-height: 47px;
    margin-bottom: 4rem;
}

img {
  max-width: 100%;
  height: auto;
}

.button_services__body {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #545A2F;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  font-weight: 400;
  border: none;
  padding: 15px 77px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 6rem;
}



.services__body_container {
  max-width: 1336px;
  margin: 0 auto;
}

.about__list {
  margin: 0;
}

.about__item {
    padding: 1rem 0;
}

.services__body_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
}

.wrapper_services__body img {
    margin-bottom: 1rem;
}
@media (max-width: 1920px) {
  
  h1 {
    margin: 0;
    font-size: 58px;
    line-height: 72px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}


  .page__body {
    font-size: 22px;
  }
}

@media (max-width: 1441px) {
  


.page__body {
  font-size: 22px;
}

  .services__body_container {
    width: 89%;
  }

  h1 {
    margin: 0;
    font-size: 58px;
    line-height: 72px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

  .services__header2 {
    font-size: 36px;
  }
}

@media (max-width: 1025px) {
  
  

  .page__body {
    font-size: 20px;
  }

  h1 {
    font-size: 45px;
  }

  .services__header2 {
    font-size: 31px;
  }

  .button {
    padding: 15px 50px;
  }

  .about .services__body_container {
    column-gap: 2%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 6px;
  }

  .page__body {
    font-size: 16px;
  }

    h1 {
    font-size: 36px;
  }

  .services__header2 {
    font-size: 23px;
  }

  .about .services__body_container {
    column-gap: 0;
  }

  .button_services__body {
    padding: 15px 41px;
  }

 
}

@media (max-width: 748px) {

  .about .services__body_container {
    grid-template-columns: 1fr;
    row-gap: 3%;
  }

  .h1 {
    font-size: 33px;
  }

  .button_services__body {
    margin-top: 35rem;
    height: 53px;
  }
}

@media (max-width: 321px) {
 

  .page__body {
    font-size: 15px;
  }

  .h1 {
    font-size: 29px;
  }

  .services__header2  {
    font-size: 22px;
  }

  .wrapper_services__body img {
    width: 40px;
  }

  .button_services__body {
    margin-top: 40rem;
  }
}
/*Gulya finished the "services" block */

/* Olga starts the "visualization" block */
.visualization {
  max-width: 100%;
  margin: 93.5px 0px 126px 0px;
  position: relative;  
  }

  .visualization__body {
    max-width: 75%;
    margin: 0 auto;
  }

.visualization__title {
  max-width: 1160px;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;  
}
.visualization__title_bold {
  font-weight: 700;
}
.visualization__content {
  display: flex;
}
.visualization__column { 
  z-index: 2;
}

.visualization__inscription {
  margin: 86px 0px 7px 30px;
}

.image_1 {
  max-width: 701px;
  margin: 0px 0px 0px -153px; 
}
.image_2 {
  max-width: 536px;
  margin: -75px 0px 0px 87px;
}
.item-visualization {
  display: flex;
}
.item-1 {
  margin: 199px 0px 0px 30px;
}
.item-2 {
  margin: 156px 0px 0px 80px;
}
.item-3 {
  margin: 161px 0px 0px 116px;
}
.item-visualization__icon {
  width: 54px;
  height: 54px;
  margin: 0px 37px 0px 0px;
}
.item-visualization__text {
  line-height: 30px;
}

/* .visualization__elements {
  }
  
.visualization__branch {
  background-image: url(../images/visualization_branch.png);
  width: 316px;
  height: 488px;
  position: absolute;
  top: 40.5%;
  left: 58%;
}

.visualization__circle {
  background-image: url(../images/visualization_circle.png);
  width: 862px;
  height: 882px;
  position: absolute;
  top: 10.3%;
  left: 25%;
  z-index: 1;  
} */


/* Olga finishes the "visualization" block */


/* Gulya starts the "call" block */


/* Gulya finishes the "call" block */
